.user-info {
  > .avatar {
    display: flex;
    justify-content: center;
  }

  > .name {
    font-size: 27px;
    font-weight: 600;
  }

  > .field {
    display: flex;
  }

  > .field + .company {
    margin-top: 24px;
  }

  > .avatar + .name {
    margin-top: 24px;
  }

  > .name + .field {
    margin-top: 16px;
  }

  > .field > .icon {
    flex: 0 0 16px;
  }

  > .field > .value {
    color: #7a869a;
  }

  > .company > .name {
    font-size: 18px;
    font-weight: 600;
  }

  > .company > .catchphrase {
    font-style: italic;
  }

  > .field > .icon + .value {
    margin-left: 8px;
  }
}
