.user-gallery {
  width: 100%;

  > .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    @media screen and (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  > .heading + .items {
    margin-top: 32px;
  }
}
